body {
    background-color: #65c0ce;
    padding: 20px;
    margin: 0;
}

h1, h3, p, ul, li {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    color: #0099FF;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
    border-bottom: 3px solid rgb(13, 1, 1);
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}

a:hover {
    background-color: #49bcbc;
}

.arrowScroll {
    position: fixed; 
    width: 100%;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .arrowScroll:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }